
/* blog styles */

.search-result-icon {
  display: inline-block;
  width: 1.0546875em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.blog-result {
  text-align: center;

  &__icon {
    font-size: 135px;
    color: #aaafc3;
    display: inline-flex;
    margin-bottom: 15px;
  }

  &__txt {
    font-size: 22px;
    font-weight: 600;
    color: #ec689e;
  }


}

.blog-header {
  padding: 0;
  //border: 2px solid #f6f6f6;
  border: none;
  border-left: 0;
  border-right: 0;
  background: #fafafa;
  width: 100%;
  height: 200px;
  position: relative;

  &__title {
    font-weight: 800;
    color: #ffffff;
    font-size: 55px;
    margin: 0;
    padding-bottom: 10px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    background: linear-gradient(to bottom, rgba(98,87,92,0) -30%, #1d2433 150%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__txt {
    font-weight: 600;
    font-size: 18px;
    opacity: .8;
  }
}


.blog-wrapper {
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}

.blog-content {
  display: block;
  padding: 80px 0;
}

.blog__item {
  display: block;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px rgba(236, 104, 158, 0), 0px 5px 30px 0px rgba(187, 191, 210, 0.55);
  transition: all .5s;


  &-category {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: #ec689e;
    color: #fff;
    font-weight: 700;
    padding: 9px 16px;
    border-radius: 5px;
    font-size: 13px;
    z-index: 22;
    text-transform: uppercase;
  }

  .ribbon-badge {
    position: absolute;
    display: table;
    left: 10px;
    top: 10px;
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 22;
    pointer-events: none;
    .kurdele-inner {
      display: table-cell;
      text-align: center;
      vertical-align: bottom;
      box-shadow: 0px 13px 20px -5px rgba(236, 104, 158, 0.3);
      border-radius: 50%;
      svg {
        fill: #ea639c;
      }
    }
  }

  &-top {
    display: block;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.82);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ed74a5;
      font-weight: 600;
      font-size: 21px;
      opacity: 0;
      visibility: hidden;
      transition: all .5s;


      &-txt {
        display: block;
      }
    }
  }


  &-img {
    display: block;
    width: 100%;
    //height: 300px;
    height: 100%;
    object-fit: cover;
  }

  &-content {
    display: block;
    padding: 25px;
    transition: all .5s;
  }

  &-title {
    display: block;
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    color: #464e65;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 175, 194, 0.3);
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      color: inherit;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    color: #a9afc2;
    align-items: center;
    transition: all .5s;

    svg {
      transition: none;
    }
  }

  &-date {
    display: flex;
    font-size: 13px;
    font-weight: 600;
  }

  &-meta {
    display: flex;
  }

  .meta__item {
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-right: 25px;
    }

    &-icon {
      display: flex;
      font-size: 16px;
      margin-right: 10px;
    }

    &-count {
      font-size: 14px;
    }
  }

  &-share {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: block;
    color: #a9afc2;
    opacity: 0;
    border-radius: 50%;
    visibility: hidden;
    transition: all .5s;

    &:hover {
      background: #464e65;
      color: #fff;

      .share-wrp {
      }
    }

  }

  .share-wrp {
    position: absolute;
    right: -10px;
    top: 100%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    border-radius: 3px;
    transition: all .5s;


  }

  .btn-share {
    display: inline-flex;
    font-size: 17px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 5px 21px 0px rgba(236,104,158,0.3);


    svg {
      transition: none;
    }


  }



  .share__item {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 21px;
    box-shadow: 0 5px 20px 1px rgba(169,175,194,0.43);
    transform: scale(.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &:nth-child(1) {
      transition-delay: .1s;
    }

    &:nth-child(2) {
      transition-delay: .3s;
    }

    &:nth-child(3) {
      transition-delay: .5s;
    }

    & + .share__item {
      margin-top: 10px;
    }

    &.google {
      background: #e15440;

      &:hover {
        background: #b44131;
      }
    }

    &.twitter {
      background: #02b3ee;

      &:hover {
        background: #0d99c8;
      }
    }

    &.facebook {
      background: #3b5998;

      &:hover {
        background: #223762;
      }
    }
  }

  .share-group {
    padding: 10px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 5px 20px 1px rgba(169, 175, 194, 0.43);
    display: block;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &.active {
      opacity: 1;
      visibility: visible;
      background: #fff;


      .share__item {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }

    }

    &:before {
      content: '';
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      display: block;
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:hover {
    box-shadow: 0 0 0 2px #ec689e, 0 10px 40px 0 rgba(187, 191, 210, 0.8);
    .overlay {
      opacity: 1;
      visibility: visible;
    }

    .blog__item-content {
    }

    .blog__item-bottom {
      color: #464e65;
    }

    .blog__item-share {
      opacity: 1;
      visibility: visible;
    }

    .blog__item-title {
      border-bottom: 1px solid rgba(70, 78, 101, 0.2);
    }

  }


}

.blog-details-wrapper {
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}



.blog-details-header {
  width: 100%;
  height: 400px;
  position: relative;



  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: linear-gradient(to bottom, rgba(98, 87, 92, 0) -30%, #1d2433 150%);
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-title {
    max-width: 515px;
    width: 100%;
    font-size: 39px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0;
    text-transform: capitalize;
  }
}

.blog-category {
  display: table;
  margin: 15px auto 0;
  background-color: #ec689e;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 200px;
  font-weight: 500;
  text-transform: uppercase;
}

.content-header {
  display: table;
  margin: auto;
  min-width: 540px;
  background: white;
  position: relative;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 15px 0;
  box-shadow: 0px 14px 38px 0px rgba(29,36,51,0.13);
  margin-bottom: 40px;

  &-item {
    color: #a9afc2;
    font-weight: 600;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 15px;

    & + & {
      border-left: 1px solid #a9afc2;
    }
  }

  .blog__item-date {
    font-size: 15px;
  }

  &-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .meta__item {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      margin-left: 25px;
    }

    &-icon {
      display: flex;
      font-size: 18px;
      margin-right: 10px;
    }

    &-count {
      font-size: 15px;
    }
  }

  .blog-share {
    cursor: pointer;
    transition: all .5s;

    svg {
      transition: none;
    }


    &:hover {
      color: #ec689e;
    }
  }

  &-share {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 3px;
    color: #a9afc2;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &:hover {
      background: #464e65;
      color: #fff;

      .share-wrp {
      }
    }

  }

  .share-wrp {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    padding-top: 15px;
    align-items: center;
    border-radius: 3px;
    transition: all .5s;


  }

  .btn-share {
    display: inline-flex;
    font-size: 17px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 5px 21px 0px rgba(236,104,158,0.3);


    svg {
      transition: none;
    }


  }



  .share__item {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 21px;
    box-shadow: 0 5px 20px 1px rgba(169,175,194,0.43);
    transform: scale(.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &:nth-child(1) {
      transition-delay: .1s;
    }

    &:nth-child(2) {
      transition-delay: .3s;
    }

    &:nth-child(3) {
      transition-delay: .5s;
    }

    & + .share__item {
      margin-left: 10px;
    }

    &.google {
      background: #e15440;

      &:hover {
        background: #b44131;
      }
    }

    &.twitter {
      background: #02b3ee;

      &:hover {
        background: #0d99c8;
      }
    }

    &.facebook {
      background: #3b5998;

      &:hover {
        background: #223762;
      }
    }
  }

  .share-group {
    padding: 10px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 5px 20px 1px rgba(169, 175, 194, 0.43);
    display: block;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &.active {
      opacity: 1;
      visibility: visible;
      background: #fff;


      .share__item {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }

    }

    &:before {
      content: '';
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      display: block;
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}

.blog-details-inner {
  max-width: 900px;
  margin: auto;
  padding-bottom: 40px;

  * {
    background: none!important;
  }

  a {
    color: #ec679e;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 27px 57px 0 rgba(29,36,51,0.23);
    margin: 40px 0;
    height: auto;
  }

  .slick-track {
    display: flex;


    img {
      box-shadow: none;
      border-radius: 0;
      margin: 0;
      height: 100%;
    }
  }


  .blog-details-slider {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 27px 57px 0 rgba(29, 36, 51, 0.23);
    margin: 50px 0 65px;
    overflow: hidden;
    position: relative;
  }

  .slider-wrp {
    position: relative;
  }

  .blog-slider-arrow {
    font-size: 20px;
    position: absolute;
    border: 0;
    box-shadow: -1px 4px 13px 1px rgba(0,0,0,0.1);
    background-color: #fff!important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 1400;
    top: 50%;
    transform: translateY(-50%);
    color: #a9afc2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color: #464e65;
    }

    &.blog-details-slider-prev {
      left: -30px;

      .fa {
        //position: relative;
        //top: 2px;
        //left: 2px;
      }
    }

    &.blog-details-slider-next {
      right: -30px;

      .fa {
        //position: relative;
        //top: 2px;
        //right: 1px;
      }
    }
  }

}

.blog-details-content {
  background: #fafafa;
  color: #464e65;
}

.blog-comments {
  margin: 60px 0;

  .gecici-text {
    font-size: 42px;
    padding: 65px 25px;
    background: red;
  }

  .comments-section {
    .title {
      text-align: center;
      h3 {
        font-size: 30px;
        font-weight: 800;
        color: #ec689e;
      }


      span {
        font-size: 14px;
        font-weight: 600;
        color: #a9afc2;
      }
    }

    h4 {
      font-weight: 500;
      color: #a9afc2;
      margin-top: 30px;
      text-align: center;
    }

    .comment-list {
      width: 100%;
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 60px;
      li {
        display: inline-block;
        width: calc(100% - 240px);
        margin-left: 90px;
        margin-right: 90px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #d0d3e0;
        &:last-child {
          border: 0px;
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
        .profil-area {
          display: inline-block;
          float: left;
          width: 130px;
          margin-right: 40px;
          text-align: center;
          figure {
            display: table;
            background-color: #ec689e;
            width: 70px;
            height: 70px;
            border: 6px solid white;
            box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            span {
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              color: white;
              font-weight: bold;
            }
            img {
              width: 100%;
            }
          }
          strong {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #464e65;
            margin-top: 15px;
            margin-bottom: 10px;
          }
          span {
            font-size: 14px;
            font-weight: 600;
            color: #d0d3e0;
          }
        }
        .comment-area {
          display: inline-block;
          float: left;
          width: calc(100% - 170px);
          padding-top: 13px;
          strong {
            font-size: 18px;
            font-weight: bold;
            color: #464e65;
          }
          p {
            margin-top: 10px;
            font-size: 14px;
            color: #464e65;
            line-height: 25px;
            font-weight: 500;
            opacity: 0.8;

          }
          .like-button {
            font-size: 12px;
            color: #d0d3e0;
            display: inline-flex;
            align-items: center;
            font-weight: 600;
            //margin-top: 10px;
            &:hover {
              color: #464e65;
              svg {
                fill: #464e65;
              }

            }
            svg {
              width: 21px;
              height: 20px;
              fill: #d0d3e0;
              float: left;
              margin-right: 11px;
              position: relative;
              top: -2px;
            }
            span {
              float: left;
              margin-left: 10px;
              line-height: 23px;
            }
          }
        }
      }
    }
    .buttons {
      text-align: center;
      margin-bottom: 70px;
      .add-comment {
        width: 134px;
        height: 40px;
        border: 2px solid #ec689e;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        color: #464e65;
        margin: auto;
        margin-bottom: 20px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        &:hover {
          color: white;
          background-color: #ec689e;
        }

        .fa {
          position: relative;
          top: -1px;
          margin-right: 10px;
        }
      }

      &.no-comment {
        margin-bottom: 0;
        .add-comment {
          min-width: 250px;
          min-height: 70px;
          border: 2px solid #ec689e;
          border-radius: 4px;
          font-size: 18px;
          font-weight: 700;
          color: #464e65;
          margin: auto;
          margin-bottom: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: white;
            background-color: #ec689e;
          }
        }

      }
      .view-comment {
        font-size: 14px;
        color: #ec689e;
        font-weight: 700;
        &:hover {
          color: #464e65;
        }
      }
    }
  }
}

.blog-others {
  margin-bottom: 0;
  padding: 50px 0;
  background: #fafafa;

  .title {
    font-size: 30px;
    font-weight: 800;
    color: #ec689e;
    text-align: center;
    margin-bottom: 30px;
  }

}


.blog-campaign {
  background: #ec689e !important;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(169, 175, 194, 0.49);
  max-width: 500px;
  margin: auto;

  > *:last-child {
    margin-top: 15px;
  }

  > *:first-child {
    margin-top: 0px;
  }


  &__title {
    margin-top: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }

  &__btn {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: table;
    margin: 0 auto;

    &:hover {
      background: #fff !important;
      color: #ec679e;
      box-shadow: 0px 2px 38px 0px rgba(29,36,51,0.13);
    }
  }

}

.workshop-link {
  background-color: #ec689e !important;
  color: #fff!important;
  display: inline-block;
  padding: 15px 35px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 10px 30px 0 rgba(236,104,158,0.2);
  font-size: 24px!important;
  font-weight: 700!important;


  &:hover {
    color: #fff!important;
    background-color: #464e65!important;
    box-shadow: 0 10px 30px 0 rgba(70,78,101,0.22);
  }


}




@media screen and (max-width: 1200px) {

  .blog-comments .comments-section .comment-list li {
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 992px) {
  .blog-comments .comments-section .comment-list li {
    padding: 0;
  }
}


@media screen and (max-width: 768px) {

  .blog-details-inner .blog-slider-arrow.blog-details-slider-next {
    right: -15px;
  }

  .blog-details-inner .blog-slider-arrow.blog-details-slider-prev {
    left: -15px;
  }

  .blog__item-content {
    padding: 15px 10px;
  }

  .blog-details-inner {
    padding: 0 20px;
  }

  .blog-comments {
    .comments-section .comment-list li {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
      .comment-area {
        width: 100%;
      }
      .profil-area {
        width: 100%;
        display: flex;
        align-items: center;
        figure {
          float: left;
        }
        strong, > span {
          float: left;
          width: calc(100% - 70px);
          text-align: left;
          padding-left: 20px;
        }
      }
      .comment-area {
        margin-top: 10px;
        padding: 15px;
      }
    }
  }

  .blog-details-header-title {
    font-size: 29px;
  }

  .blog__item-top .overlay {
    opacity: 1;
    visibility: visible;
    background: transparent;
  }

  .blog__item-top .overlay-txt {
    //display: block;
    //padding: 10px 20px;
    //background: #fff;
    //border-radius: 6px;
    //font-size: 17px;
    //box-shadow: 0 5px 21px 0px rgba(236,104,158,0.3);
    display: none;
  }

  .blog__item-share {
    opacity: 1;
    visibility: visible;

    &:hover {
      background: #fff;
      color: #a9afc2;
    }

  }

  .blog__item {
    &:hover {
      box-shadow: 0px 0px 0px 2px rgba(236,104,158,0), 0px 5px 30px 0px rgba(187,191,210,0.55);
    }
  }
}


@media screen and (max-width: 576px) {

  .blog-details-inner .blog-slider-arrow {
    width: 50px;
    height: 50px;
  }

  .content-header {
    min-width: 300px;
    padding: 5px 20px;
    margin-bottom: 0px;
  }

  .content-header-meta {
    display: block;
  }

  .content-header-item+.content-header-item {
    border-left: none;
    border-top: 1px solid #a9afc270;
    margin-top: 5px;
  }

  .content-header .share-wrp {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .content-header .share-group {
    min-width: 160px;
  }





}


