.category-home .big-nav-container .big-nav {
  display: table;
  height: 70px;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.category-home .big-nav-container .big-nav ul li a span {
  max-width: 150px;
}

.big-nav-container .big-nav ul li a span {
  max-width: 150px;
}

header .big-nav-container .big-nav ul li a span {
  width: calc(100% - 28px);
  text-align: center;
}

.category-home .big-nav-container .big-nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
}

header .big-nav-container .big-nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1200px) {

  header .big-nav-container .big-nav ul li a,.category-home .big-nav-container .big-nav ul li a {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  header .big-nav-container .big-nav ul li a svg,.category-home .big-nav-container .big-nav ul li a svg {
    display: inline-block;
    margin-right: 0;
    fill: #464e65;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    width: 30px;
  }

  header .big-nav-container .big-nav ul li a span,.category-home .big-nav-container .big-nav ul li a span {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    width: calc(100% - 30px);
    padding-left: 7px;
    text-transform: uppercase;
    text-align: center;
    max-width: 100px;
  }

}