body, html {
    font-family: 'Montserrat' !important;
}

.btn {
    border-radius: 3px;
    transition: all .5s;
}

.btn-edit {
    /*color: #fff;*/
    /*background-color: #66CC99;*/
    /*border: 1px solid #66CC99;*/
    /*outline: none;*/
    color: #fff;
    border: 1px solid #ec689e;
    outline: none;
    background-color: #ec689e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
}

.form-elements-sec form select {
    color: #999;
}

.btn-edit:hover {
    color: #fff;
    background-color: #464e65;
    border-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
    outline: none;
}

.btn-edit:active, .btn-edit:focus, .btn-edit:visited {
    background-color: #464e65;
    border-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
    color: #fff;
    outline: none !important;
}

.btn-trash {
    /*color: #fff;*/
    /*background-color: #EC644B;*/
    /*border-color: #EC644B;*/
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 0px rgba(255, 71, 87, 0.41);
    background-color: #ff4757;
    border-color: #ff4757 ;
    padding: 8px 12px;
    min-height: 40px;
}

table.dataTable tbody th:last-of-type,table.dataTable thead th:last-of-type, table.dataTable tbody td:last-of-type {
    text-align: right;
}

.btn-trash:hover {
    color: #fff;
    /*background-color: #c0392b;*/
    /*border-color: #c03923;*/

    background-color: #464e65;
    border-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
}

.btn-trash:active, .btn-trash:focus, .btn-trash:visited {
    background-color: #464e65;
    border-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
    color: #fff;
    outline: none !important;
}

.btn-plus {
    color: #777;
    background-color: #fff;
    padding: 15px;
}

.btn-plus span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
}

.btn-atolye {
    color: #fff;
    background-color: #ff4545;
    border-color: #ff4545;
    padding: 6px 20px;
    border-radius: 3px;
}

.btn-atolye:hover, .btn-atolye:focus, .btn-atolye:visited {
    background-color: #ff7171;
    outline: none;
    color: #fff;
    border-color: #ff7171;
}

.f-r {
    float: right;
}

.b-none {
    border: none !important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    font-size: 13px;
}

.table tbody tr label {
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 50px;
}

.form-options {
    display: inline-block;
    margin-left: 5px;
}

.custom-input {
    height: 45px;
    box-shadow: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d0d3e0;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.custom-input:focus {
    border-color: #ec689e;
    outline: 0;
    box-shadow: none;
}

/*.form-control:focus {*/
    /*border-color: #ec689e;*/
    /*outline: 0;*/
    /*box-shadow: none;*/
/*}*/

.m-b {
    margin-bottom: 20px;
}

select#access:valid {
    color: gray;
}

select#access option {
    font-size: 18px;
    padding: 10px;
}

.record-buttons {
    display: block;
    width: 250px;
    margin: 10px auto;
}

form.sec label {
    font-weight: normal;
    margin-bottom: 12px;
    font-size: 13px;
    color: #999;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*Select2 plugin*/
.custom-select select {
    width: 100%;
    font-family: 'Montserrat' !important;
}

.custom-select .select2-container {
    width: 100% !important;
}

.custom-select .select2-container .select2-selection--single {
    height: 52px;
}

.custom-select .select2-container--default .select2-selection--single {
    border-radius: 3px;
    border: 1px solid #d0d3e0;
}

.custom-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.custom-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 24px;
}

.custom-select .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #d0d3e0;
    font-size: 16px;
    font-weight: 600;
}

.select2-results__option[aria-selected] {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ec689e;
}

.custom-select .select2-container--default .select2-selection--multiple {
    border-radius: 1px;
    border: 1px solid #eaeaea;
}

.custom-select .select2-container .select2-selection--multiple {
    min-height: 45px;
}

.custom-select .select2-container .select2-selection--multiple:after {
    content: "\f067";
    position: absolute;
    font-family: FontAwesome;
    top: 50%;
    margin-top: -10px;
    left: 15px;
    color: #999;
    pointer-events: none;
}

.custom-select .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0px;
    height: 45px;
    float: left;
    padding-left: 40px;
    padding-right: 30px;
    overflow-y: scroll;
    padding-top: 6px;
    position: relative;
    cursor: pointer;
}

.custom-select .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ec689e;
    border-color: #e24686;
    color: white;
    padding: 2px 10px;
}

.custom-select .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
    margin-right: 5px;
}

.custom-select .select2-container--default .select2-search--inline .select2-search__field {
    cursor: pointer;
    line-height: 20px;
}

.n-c {
    background: rgba(255, 255, 255, .5)
}

.search-input {
    background-image: url('../images/resource/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px;
    text-indent: 45px;
}

.services img {
    max-height: 75px;
    border-radius: 50%;
}

.loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

svg {
    fill: black;
}

.icon.davetiye {
    width: 34px;
    height: 30px;
}

.icon.dugun-pastasi {
    width: 31px;
    height: 30px;
}

.icon.nikah-sekeri {
    width: 38px;
    height: 30px;
}

.icon.gelin-cicegi {
    width: 37px;
    height: 30px;
}

.icon.dugun-bebek-fotograf {
    width: 33px;
    height: 31px;
}

.icon.bebek-susleri {
    width: 32px;
    height: 30px;
}

.icon.dugun-cikolatasi {
    width: 39px;
    height: 30px;
}

.icon.nisan-susleri {
    width: 32px;
    height: 32px;
}

.custom-admin-select {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.custom-admin-select .image-show {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 1px;
    float: left;
    position: relative;
}

.custom-admin-select .image-show:after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: calc(100% - 10px);
    margin-top: 5px;
    top: 0;
    background-color: #eaeaea;
}

.custom-admin-select .select-inner {

    position: relative;
    width: 100%;
}

.custom-admin-select .select-inner:after {
    content: "";
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    right: 0;
    margin-right: 30px;
    margin-top: -5px;
}

.custom-admin-select .select-inner select {
    outline: none !important;
    margin-bottom: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    appearance: none;
    background: transparent;
    border-radius: 1px;
    height: 45px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
    color: #999;
    font-size: 13px;
}

.mini-stats.c-title p {
    color: #666;
}

.mini-stats.c-title h4 {
    /*color: #ff6b6b;*/
    color: #ec689e;
    font-weight: 600;
}

.question {
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

label.for-atolye {
    color: #ff6b6b;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2ecc71;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Yasin Edit */

.preview-container {
    margin-top: 20px;
}

.preview-container ul {
    margin: 0px;
    padding: 0px;
}

.preview-container ul li {
    position: relative;
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(25% - 7.5px);
    float: left;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    border: 5px solid #dddddd;
    background-color: white;
    border-radius: 1px;
}

.preview-container ul li img {
    width: 100% !important;
    height: 200px;
}

.preview-container ul li:nth-child(4n+0) {
    margin-right: 0px;
}

.preview-container ul li:last-child {
    margin-right: 0px;
}

.preview-container ul li .image-name {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    align-items: center;
    justify-content: center;
}

.preview-container ul li .image-name span {
    margin-right: 10px;
    color: black;
}

.preview-container ul li .image-name input {
    color: black;
    outline: none !important;
}

.preview-container ul li .image-name input::placeholder {
    color: rgba(0, 0, 0, .4);
}

.preview-container h3 {
    color: #2e2e2e;
    float: left;
    font-size: 16px;
    margin: 0 0 5px;
    padding-right: 30px;
}

.preview-container .preview-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.custom-upload-input .inputfile-6 + label {
    border: 0px;
    background-color: transparent;
}

.custom-upload-input .inputfile-6 + label span {
    width: auto;
}

.up-input {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 1px !important;
    color: #ebebeb;
    outline: none;
}

input[type="text"].up-input::placeholder {
    color: #ebebeb;
}

@media screen and (max-width: 1440px) {

    .preview-container ul li {
        width: calc(50% - 5px);
    }

    .preview-container ul li:nth-child(4n+0) {
        margin-right: 0px;
    }

    .preview-container ul li:nth-child(even) {
        margin-right: 0px;
    }

}

@media screen and (max-width: 992px) {

    .preview-container ul li {
        width: 100%;
        margin-right: 0px !important;
    }

}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    height: 200px !important;
}

ul.hide-bullets li {
    position: relative;
}

ul.hide-bullets li .conf {
    position: absolute;
    top: 7px;
    right: 25px;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px 8px;
    background-color: #ff6b6b;
    color: #ebebeb;
    opacity: 0.3;
    cursor: pointer;
}

.conf-inner {
    position: absolute;
    top: 40px;
    right: 60px;
    background: rgb(255, 255, 255);
    display: none;
    min-width: 40%;
}

.conf-inner.active {
    opacity: 1;
    visibility: visible;
}

.conf-inner a {
    display: block;
    padding: 10px 20px;
    background: #fafafa;
    border-radius: 3px;
}

li#thumb:hover > li#thumb div {
    opacity: 1;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 200px !important;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pasif {
    opacity: 0.3;
}

.pageView {
    border-radius: 50%;
    padding: 15px;
    width: 50px;
    text-align: center;
    height: 50px;
    /*background: #6da972;*/
    background: #464e65;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    /*box-shadow: 0 0 20px 2px #999;*/
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
    z-index: 2222;
}

.packets-section {
    display: block;
    padding: 60px 0 30px;
    background: #fff;
}

.packets-section-title {
    display: block;
    font-size: 30px;
    color: #ec689e;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.packets-section-txt {
    display: block;
    color: #464e65;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.packets-group {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.packets-item {
    width: 29%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #464e65;
    min-width: 300px;
    transition: all .5s;
}

.packets-item:hover .packets-item__header, .packets-item.active .packets-item__header {
    transform: scale(1.05);
    box-shadow: 0 0 0 2px #ec689e, 0 10px 40px 0 rgba(187, 191, 210, 0.8);
}

.packets-item:hover .packets-item__list li, .packets-item.active .packets-item__list li {
    color: #464e65;
}

.packets-item__top {
    display: block;
}

.packets-item__header {
    display: block;
    box-shadow: 0 0 0 2px rgba(236, 104, 158, 0), 0 5px 30px 0 rgba(187, 191, 210, 0.55);
    border-radius: 6px;
    background: #fff;
    padding: 0 20px;
    transition: all .5s;
}

.packets-item__header-title {
    display: block;
    margin-bottom: 35px;
    font-weight: 700;
    margin-top: -10px;
}

.packets-item__header-title span {
    display: inline-block;
    position: relative;
    margin: 10px auto;
    color: #a9afc2;
    font-size: 21px;
}

.packets-item__header-title span:after {
    content: '';
    position: absolute;
    top: 42%;
    width: calc(100% + 10px);
    height: 1px;
    background: #a9afc2;
    left: -5px;
    transform: translateY(-50%);
}

.packets-item__icon {
    width: 100px;
    height: 100px;
    margin: auto;
    background: #ecedf3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-50%);
    position: relative;
    top: 15px;
    border: 4px solid #fff;
    box-shadow: 0 0 0 2px rgba(236, 104, 158, 0), 0 5px 30px 0 rgba(187, 191, 210, 0.55);
}

.packets-item__icon img {
    width: 100%;
}

.packets-item__title {
    display: block;
    font-size: 35px;
    color: #ec689e;
    font-weight: 700;
    border-top: 1px solid rgba(169, 175, 194, 0.2);
    padding-bottom: 23px;
    padding-top: 25px;
    margin-top: 69px;
}

.packets-item__title span {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin-right: 2px;
}

.packets-item__title .subscription-txt {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: #464e65;
    letter-spacing: 2px;
    margin-left: 10px;
    position: relative;
    top: -8px;
}

.packets-item__list {
    display: table;
    margin: auto;
    font-weight: 600;
    width: 100%;
    padding: 30px 20px;
}

.packets-item__list li {
    display: block;
    padding: 4px;
    color: #a9afc2;
    transition: all .5s;
}

.packets-item__list li:nth-child(even) {
    background: #fafafa;
    width: 100%;
    border-radius: 6px;
}

.packets-item .kdv-txt {
    display: block;
    font-size: 12px;
    color: #ffffff;
    margin: auto;
    border-radius: 4px;
    padding: 1px 15px 0;
    line-height: 25px;
    background: #a9afc2;
    margin-left: 10px;
    position: relative;
    top: -13px;
}

.packets-item__bottom {
    display: block;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ec689e;
    padding-top: 10px;
    position: relative;
}

.packets-item__bottom:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background: #ec689e;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
}

.packets-item__bottom span {
    display: block;
}

.packets-item.pre-packets {
    display: block;
}

.packets-item.pre-packets .packets-item__header-title {
    margin-bottom: 0;
}

.packets-item.pre-packets .packets-item__title {
    font-size: 55px;
    line-height: 30px;
    margin-top: 15px;
    border-top: 1px solid rgba(169, 175, 194, 0.2);
    padding: 26px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packets-item .price {
    display: inline-block;
    font-size: 12px;
    border: 2px solid;
    padding: 7px 10px 5px;
    border-radius: 4px;
    background: rgba(236, 104, 158, 0.1);
    position: relative;
    top: -3px;
    color: #ec689e;
    margin-left: 10px;
}

.packets-item .price:after {
    display: none;
}

.sss-bottom {
    margin-top: 15px;
}

.sss-button {
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    color: #464e65;
    font-weight: 700;
    padding: 15px;
    border: 2px solid #ec689e;
    display: table;
}


.mce-notification.mce-has-close {
    display: none !important;
}


div.mce-edit-area {
    display: block !important;
}






































































