.icon-edit {
  width: 0.7998046875em;
}

.icon-check {
  width: 1.412109375em;
}

.icon-close {
  width: 0.9931640625em;
}

input,textarea {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  transition: all .5s;

  &:focus {
    outline: none;
    border-color: #ec689e;
  }

  &::placeholder {
    color: #898989;
  }
}

.main-content {
  z-index: 2;
}

.js-quick-save {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: -50px;
  background: #05c46b;
  z-index: 22;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  box-shadow: 0 10px 30px 0 rgba(70,77,100,0.22);
  transform: scale(.8);
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;

  &:hover,&:focus {
    color: #fff;
  }

}

.js-quick-cancel {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  bottom: -50px;
  background: #ff4757;
  z-index: 22;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  box-shadow: 0 10px 30px 0 rgba(70,77,100,0.22);
  transform: scale(.5);
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;

  &:hover,&:focus {
    color: #fff;
  }

}

.js-quick-wrp {
  position: relative;
  transition: all .5s;

  &.active {
    background: #fff;
    padding: 10px;
    box-shadow: 0 10px 30px 0 rgba(70, 77, 100, 0.22);
    border-radius: 5px;

    .quick-edit {
      font-size: 14px;
    }

    .js-quick-cancel, .js-quick-save {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
      transition-delay: .3s;
    }

  }

}

.quick-edit {
  background: inherit;
  border: 1px solid transparent;
  max-width: calc(100% - 65px);
  transition: all .5s;
  width: 100%;
  min-height: 40px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.container-workshop {
  width: 100%;
}

.quick-wrp {
  position: relative;
  padding: 10px;
  border-radius: 5px;

  &.active {
    box-shadow: 0 5px 30px rgba(29,47,64,0.1);
    background: #fff;
    transition: all .5s;

    .quick-edit {
      border: 1px solid #e5e5e5;
      padding: 1px 10px;
      //font-size: 24px;
      min-height: 40px;
      border-radius: 5px;
    }
  }

}

.btn-quick-edit {
  display: inline-flex;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #ec689e;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 10px 30px 0 rgba(70,77,100,0.22);
  transition: all .5s;

  &:hover {
    background: #ec689e;
    color: #fff;
  }

  &.active {
    background: #ec689e;
    color: #fff;
    box-shadow: 0 10px 30px 0 rgba(236,104,158,0.2);
  }
}

.btn {
  padding: 8px 22px;
  font-size: 15px;
  font-weight: 600;
}

.pink-skin {
  background-color: #ff6b81;
  border-color: #ff6b81 !important;
}

.pink-color {
  color: #ff6b81;
}

.orange-skin {
  background-color: #ff7f50;
  border-color: #ff7f50 !important;
  color: #ff7f50;
}

.orange-color {
  color: #ff7f50;
}

.green-skin {
  background-color: #05c46b;
  border-color: #05c46b !important;
  color: #05c46b;
}

.green-color {
  color: #05c46b;
}

.sky-skin {
  background-color: #70a1ff;
  border-color: #70a1ff !important;
  color: #70a1ff;
}

.sky-color {
  color: #70a1ff;
}

.red-skin {
  background-color: #ff4757;
  border-color: #ff4757 !important;
  color: #ff4757;
}

.red-color {
  color: #ff4757;
}

.workshop-form label {
  color: #ec689e;
  font-weight: 600;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  border-radius: 5px;
  border: none;
  transition: all .5s;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #eb689e;
  border: none;
  font-weight: 600;
  color: #fff;
  transition: all .5s;
  box-shadow: 0 10px 30px 0 rgba(236, 104, 158, 0.2);
}

.nav > li > a:focus, .nav > li > a:hover {
  background: #dde4e5 none repeat scroll 0 0;
}

.gallery-box>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-menus nav > ul > li {

  a {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &.selected {
      background: #ec689e;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
    }
  }

}

.side-header.light-skin .side-menus nav>ul>li>a.selected {
  color: #fff;
}

.side-menus nav>ul li a i {
  transition: none;
}

.widget-notify {
  position: absolute;
  bottom: 10px;
  right: 10px;
  //background: #70a1ff;
  text-align: center;
  padding: 10px;
  z-index: 3;
  //transform: translateY(-50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  //width: 100%;
  //height: 100%;
  //border-radius: 5px;
  font-size: 25px;
  transition: all .5s;

  &:before {
    content: attr(data-count);
    font-size: 14px;
    position: absolute;
    top: 50%;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: all .5s;
    z-index: 2;
    color: #fff;
    transition-delay: .3s;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  width: 25px;
  //  height: 25px;
  //  background: #70a1ff;
  //  top: 50%;
  //  right: 10px;
  //  transform: translateY(-50%);
  //  border-radius: 50%;
  //  transition: all .5s;
  //}

  .btn-txt {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 3;
    color: #fff;
  }

  &:hover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    right: 0;
    bottom: 0;

    &:before {
      opacity: 0;
      visibility: hidden;
      transition: none;
      transition-delay: 0s;
    }

    &:after {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      right: 0;
    }

    .btn-txt {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: all .5s;
      transition-delay: .3s;
    }
  }
  strong {
    font-size: 24px;
  }

}

.heading-profile > h2 > span {
  color: #ec689e;
  font-weight: 600;
}

.widget, .top-bar, header.side-header {
  box-shadow: 0 5px 30px rgba(29, 47, 64, 0.1);
}

.custom-tab {
  box-shadow: 0 5px 30px rgba(29, 47, 64, 0.1);
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.tab-content {
  .panel-content .row {
    margin: 0;
  }

  .widget {
    box-shadow: none;
  }

  .form-elements-sec {
    float: left;
    padding: 0px 20px;
    width: 100%;
  }
}

.box {
  box-shadow: none;
  min-height: auto;
  height: auto;
  overflow: visible;
}

.gallery-box {
  height: 190px;
  margin-top: 14px;
  cursor: move;
}

.modal-body {
  h5 {
    display: block;
    color: #464e65;
    font-weight: 600;
    opacity: 0.9;
  }

  p {
    display: block;
    color: #6d7388;
  }
}

.upload-options {
  background-color: #eb689e;
  border-radius: 5px;
  max-width: 100px;
  margin: 30px auto 0;
  box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);

  &:hover {
    background-color: #464e65;
  }

  label::after {
    content: 'add';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 3.5rem;
    color: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }
}

.js--image-preview {
  box-shadow: 0 5px 30px rgba(29, 47, 64, 0.1);
  border-radius: 5px;
}

.admin-details > span > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  .call-section-inner {
    padding-top: 0;
  }
}

// todo

//[type="checkbox"] {
//  &:not(:checked), &:checked {
//    position: absolute;
//    left: -9999px;
//  }
//  &:not(:checked) + label, &:checked + label {
//    position: relative;
//    padding-left: 0px;
//    cursor: pointer;
//    margin-bottom: 0px;
//    line-height: 22px;
//    left: 40px;
//  }
//  &:not(:checked) + label:before, &:checked + label:before {
//    content: '';
//    position: absolute;
//    left: -40px;
//    top: 0px !important;
//    width: 25px;
//    height: 25px;
//    background: transparent;
//    border: 2px solid #d0d3e0;
//    border-radius: 5px;
//  }
//  &:not(:checked) + label:after, &:checked + label:after {
//    content: '\f00c';
//    position: absolute;
//    font-family: FontAwesome;
//    top: 2px;
//    left: -33px;
//    font-size: 10px;
//    color: #d0d3e0;
//    transition: all .2s;
//  }
//  &:not(:checked) + label:after {
//    opacity: 0;
//    transform: scale(0);
//  }
//  &:checked + label:after {
//    opacity: 1;
//    transform: scale(1);
//  }
//  &:disabled {
//    &:not(:checked) + label:before {
//      box-shadow: none;
//      border-color: #bbb;
//      background-color: #ddd;
//    }
//    &:checked + label {
//      &:before {
//        box-shadow: none;
//        border-color: #bbb;
//        background-color: #ddd;
//      }
//      &:after {
//        color: #999;
//      }
//    }
//    + label {
//      color: #aaa;
//    }
//  }
//}
//
//[type="radio"] {
//  &:not(:checked), &:checked {
//    position: absolute;
//    left: -9999px;
//  }
//  &:not(:checked) + label, &:checked + label {
//    position: relative;
//    padding-left: 0px;
//    cursor: pointer;
//    margin-bottom: 0px;
//    line-height: 22px;
//    left: 40px;
//  }
//  &:not(:checked) + label:before, &:checked + label:before {
//    content: '';
//    position: absolute;
//    left: -40px;
//    top: 0px !important;
//    width: 25px;
//    height: 25px;
//    background: #ffb400;
//    border-radius: 50%;
//  }
//  &:not(:checked) + label:after, &:checked + label:after {
//    content: '\f00c';
//    position: absolute;
//    font-family: FontAwesome;
//    top: 6px;
//    left: -36px;
//    font-size: 1.3em;
//    line-height: 0.8;
//    color: white;
//    transition: all .2s;
//  }
//  &:not(:checked) + label:after {
//    opacity: 0;
//    transform: scale(0);
//  }
//  &:checked + label:after {
//    opacity: 1;
//    transform: scale(1);
//  }
//  &:disabled {
//    &:not(:checked) + label:before {
//      box-shadow: none;
//      border-color: #bbb;
//      background-color: #ddd;
//    }
//    &:checked + label {
//      &:before {
//        box-shadow: none;
//        border-color: #bbb;
//        background-color: #ddd;
//      }
//      &:after {
//        color: #999;
//      }
//    }
//    + label {
//      color: #aaa;
//    }
//  }
//}

.panel-header {
  border-bottom: 2px solid #f7f8fb;
  background: #fff;

  .middle-nav {
    height: 100px;
    .row {
      height: 100%;
      margin: 0;
    }

    .row-inner {
      height: 100%;
    }

    .logo-section {
      display: table;
      width: 100%;
      height: 100%;
      border-right: 2px solid #f7f8fb;
      float: left;
      position: relative;

      h1 {
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        width: 200px;
        left: 0;
        transform: translateY(-50%);
      }
    }

    .call-section {
      display: table;
      width: 100%;
      height: 100%;
      border-left: 2px solid #f7f8fb;
      float: right;

      &-inner {
        display: table-cell;
        vertical-align: middle;
        padding-left: 40px;
      }

      figure {
        display: inline-block;
        float: none;
      }

      .text {
        display: inline-block;
        color: #a9afc2;
        margin-left: 10px;
        margin-top: 0;

        strong {
          display: block;
          font-weight: 700;

          span {
            font-weight: 400;
          }
        }
      }

    }
  }

}

.sign-modal {
  background-color: #fafafa;
  border-top: 1px solid #d8dbe5;
  position: relative;


  .container {
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: inherit;
    min-width: inherit;
  }

  h2 {
    font-size: 24px;
    color: #ec689e;
    text-align: center;
    font-weight: 800;
  }
  button.closes {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    opacity: 0.65;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    color: #333;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    &:hover {
      opacity: 1;
      transform: rotate(-90deg);
      -webkit-transition-duration: .5s;
      -moz-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
    }
  }
  .modal-body {
    padding: 30px 40px;
  }
  .text-center {
    text-align: center;
  }
  .mb-10, .mv-10 {
    margin-bottom: 10px !important;
  }
  b, strong {
    font-weight: bold;
  }
  .input__group {
    margin-bottom: 11px;
    margin-top: 11px;
  }
  .input__control {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #d0d3e0;
    height: 48px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    &:focus {
      border-color: #ec689e;
      -webkit-transition-duration: .5s;
      -moz-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
    }
  }
  .pad-10 {
    padding: 10px !important;
  }
  input {
    &[type="checkbox"], &[type="radio"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      width: auto;
    }
  }
  .button {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    color: #ec689e;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    transition: box-shadow 300ms linear, color 300ms ease, background 300ms ease;
    line-height: 0.8em;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
    border: none;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
    -moz-box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
    box-shadow: 0px 10px 30px 0px rgba(236, 104, 158, 0.2);
  }
  .button--block {
    width: 100%;
  }
  .button--large {
    padding: 18px 35px;
  }
  .button--pink {
    background-color: #ec689e;
    color: #fff;
  }
  .strong--big {
    font-size: 16px;
    color: #464e65;
  }
  .twitter-connect {
    margin-right: -10px;
    margin-left: 10px;
  }
  .pad-5 {
    padding: 5px !important;
  }
  .facebook-connect {
    margin-left: -10px;
    margin-right: 10px;
  }
  .pad-5 {
    padding: 5px !important;
  }
  .button--twitter {
    background-color: #55adf1;
    color: #fff;
  }
  .button--social {
    padding: 18px 10px;
    font-size: 11px;
    svg {
      fill: #fff;
      width: 17px;
      height: 15px;
      margin-top: -7px;
      position: relative;
      top: 3px;
      left: -3px;
    }
  }
  .button--facebook {
    background-color: #3b5997;
    color: #fff;
  }
  .icon--arrow-right {
    position: relative;
    z-index: 3;
    top: 2px;
    display: inline-block;
    right: -10px;
    margin-top: -5px;
  }
  .button--pink svg {
    fill: #fff;
  }
  .icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 0;
  }
  .icon--studio {
    width: 28px;
    height: 23px;
    vertical-align: -0.4em;
  }
  .button--third {
    color: #a9afc2;
    svg {
      margin-right: 10px;
    }
    &:hover {
      color: #ec689e;
      svg {
        fill: #ec689e;
      }
    }
  }
  .icon--third {
    fill: #a9afc2;
  }
  .button--middle {
    padding: 12px 22px;
  }
  .form-grup-captcha {
    label {
      margin-right: 20px;
      float: left;
      line-height: 50px;
    }
    input {
      width: calc(100% - 316px);
      height: 40px;
      float: left;
      margin-right: 30px;
    }
  }
  .button--pink:hover {
    color: #fff;
    background-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70, 78, 101, 0.22);
  }
  .button--twitter:hover {
    color: #fff;
    background-color: #2696ed;
  }
  .button--facebook:hover {
    color: #fff;
    background-color: #4c70b9;
  }
  .link--underline {
    text-decoration: underline !important;
  }
  .link--gray {
    color: #a0a3ad;
    &:hover {
      color: #ec689e;
    }
  }
  .link {
    font-weight: bold;
    font-size: 15px;
  }
  .pt-10, .pv-10 {
    padding-top: 10px !important;
  }
  .check-control {
    margin-bottom: 40px;
    label {
      width: calc(100% - 40px);
      position: relative;
      top: 20px;
      margin-left: 0px;
    }
    input {
      &[type="checkbox"], &[type="radio"] {
        display: inline-block;
        margin: 0px;
      }
    }
  }
  .register-btn {
    margin-top: 20px;
    &:hover {
      color: #fff;
      background-color: #ec689e;
      box-shadow: 0px 6px 20px 0px rgba(236, 104, 158, 0.2);
      fill: #fff;
    }
  }
  .submit-group {
    max-width: 190px;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d0d3e0;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
    &:focus {
      border-color: #ec689e;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 3px;
    border: 1px solid #d0d3e0;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 20px;
    &:focus {
      border-color: #ec689e;
    }
  }
  .sign-in-form {
    background-color: white;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 5px 30px rgba(29, 47, 64, 0.1);
    //box-shadow: 0 15px 30px rgba(29, 47, 64, 0.1);
    box-shadow: 0 5px 30px rgba(29, 47, 64, 0.1);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    max-width: 450px;
    margin: auto;
    min-width: 400px;
  }
  .contact-form > form {
    height: 578px;
    > {
      .row {
        height: 528px;
        overflow: hidden;
      }
      .row-success {
        transform: scale(0);
        opacity: 0;
        display: none;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
      }
    }
  }
  .sign-in-form {
    h3 {
      font-size: 24px;
      color: #ec689e;
      font-weight: 800;
      text-align: center;
      margin: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #bbbfd2;
    }
    label {
      color: #a9afc2;
      font-size: 13px;
    }
    form {
      padding: 40px;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      .remember-wrap > a {
        float: right;
        font-size: 12px;
        color: #a0a3ad;
        text-decoration: underline !important;
        font-weight: 700;
        &:hover {
          color: #ec689e;
        }
      }
      [type="checkbox"] {
        &:not(:checked) + label, &:checked + label {
          left: 23px;
          min-width: 120px;
        }
        &:not(:checked) + label:after, &:checked + label:after {
          font-size: 10px;
          left: -19px;
          top: -2px;
        }
        &:not(:checked) + label:before, &:checked + label:before {
          width: 17px;
          height: 17px;
          left: -23px;
          top: 1px !important;
        }
      }
    }
    .atolyegiris__group {
      border-top: 1px solid #bbbfd2;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.workshop-login {
  height: 100vh;
  background: url("/assets/_panel/images/workshop_bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.75);
  }

}

.not-remember-icon {
  width: 113px;
  height: 104px;
  fill: #a0a3ad;
}

.sign-modal .sign-up-wrap {
  text-align: center;
}

.sign-up-wrap-right {
  margin-top: 110px;
}

.sign-modal {
  .sign-up-wrap {
    svg {
      margin-top: 0;
    }

    h3 {
      font-size: 24px;
      font-weight: 800;
      color: #ec689e;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: #a0a3ad;
      margin-bottom: 30px;
    }
    .or {
      font-size: 14px;
      font-weight: 800;
      color: #464e65;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
    }
    h4 {
      font-size: 20px;
      font-weight: 800;
      color: #ec689e;
      margin: 0px;
      margin-bottom: 20px;
    }
    .register-button {
      max-width: 230px;
      height: 45px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: auto;
      span {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        svg {
          margin-top: 0px;
        }
      }
    }
    .instagram-button {
      position: relative;
      overflow: hidden;
      z-index: 9;
      width: 230px;
      height: 40px;
      border-radius: 3px;
      background-color: #a9afc2;
      color: white;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      margin: auto;
      font-size: 10px;
      font-weight: 700;
      i {
        margin-right: 15px;
        font-size: 20px;
        position: relative;
      }
      span {
        position: relative;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("../img/instagram-button-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }
      &:hover:before {
        opacity: 1;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }
    }
  }
  .sign-up-form form {
    h4 {
      font-size: 14px;
      font-weight: 800;
      color: #464e65;
      text-align: center;
    }
    [type="checkbox"]:not(:checked) + label a {
      color: #464e65;
    }
  }
  .sign-in-form form [type="checkbox"]:checked + label a {
    color: #464e65;
  }
  .sign-up-form form [type="checkbox"]:not(:checked) + label a:hover, .sign-in-form form [type="checkbox"]:checked + label a:hover {
    color: #ec689e;
  }
}


.premium-detail {
  background-color: white;
  //margin-top: 50px;
  .row {
    margin: 0;
  }
  .container {
    max-width: 100%;
  }
  .cover-section {
    position: relative;
    background-image: url("../img/premium-detail-cover.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    //height: 350px;
    min-height: 350px;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #1d2433;
      opacity: .75;
    }
    .premimum-breadcrumb ul {
      margin-top: 40px;
      margin-bottom: 50px;
      li {
        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        color: white;
        letter-spacing: .75px;
        a {
          color: white;
          &:hover {
            color: #ec689e;
          }
        }
      }
    }
    .detail {
      width: 50%;
      display: flex;
      align-items: center;
      padding-bottom: 30px;

      figure {
        position: relative;
        top: -26px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        //overflow: hidden;
        border: 0px solid white;
        box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
        display: inline-block;

        .js-quick-wrp {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          padding: 0;
        }

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .btn-quick-edit {
          top: 20px;
          right: 0;
        }

        .js-quick-save {
          left: 25px;
        }

        .js-quick-cancel {
          left: 75px;
        }


      }
      article {
        display: inline-block;
        width: calc(100% - 160px);
        margin-left: 25px;
        .workshop-name {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          h3 {
            font-size: 22px;
            font-weight: 700;
            color: #ec689e;
            float: left;
            margin: 0px;
            max-width: 100%;
            position: relative;
            width: 100%;
          }
          .ribbon-badge {
            position: relative;
            display: inline-flex;
            float: none;
            width: 23px;
            height: 23px;
            background-color: white;
            border-radius: 50%;
            margin-left: 10px;
            align-items: center;
            justify-content: center;

            .kurdele-inner {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              svg {
                fill: #ea639c;
                width: 15px;
                height: 15px;
              }
            }
          }
        }
        .counters {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          svg {
            fill: #a9afc2;
            width: 1.12em;
            height: 1.12em;
            display: inline-block;
            float: left;
            margin-right: 5px;
          }
          .like-counter {
            cursor: pointer;
            display: inline-block;
            float: left;
            margin-right: 15px;
            width: 55px;
            span {
              color: white;
              -webkit-transition-duration: .5s;
              -moz-transition-duration: .5s;
              -o-transition-duration: .5s;
              transition-duration: .5s;
            }
            &:hover {
              svg {
                fill: #ec689e;
              }
              span {
                color: #ec689e;
                -webkit-transition-duration: .5s;
                -moz-transition-duration: .5s;
                -o-transition-duration: .5s;
                transition-duration: .5s;
              }
              svg {
                fill: #ec689e;
              }
              span {
                color: #ec689e;
                -webkit-transition-duration: .5s;
                -moz-transition-duration: .5s;
                -o-transition-duration: .5s;
                transition-duration: .5s;
              }
            }
          }
          .like-counter-selected {
            svg {
              fill: #ec689e !important;
            }
            span {
              color: #ec689e !important;
            }
          }
          .view-counter {
            display: inline-block;
            float: left;
            span {
              color: white;
            }
          }
        }
        .buttons {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          .like-button {
            width: 91px;
            height: 32px;
            border: 2px solid #ec689e;
            border-radius: 3px;
            font-size: 13px;
            color: white;
            margin-right: 15px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            float: left;
            opacity: .5;
            cursor: not-allowed;

            &.liked {
              background-color: #ec689e;
              color: #fff;

              svg {
                fill: #fff;
              }
            }

            svg {
              width: 11px;
              height: 10px;
              margin-right: 10px;
              fill: white;
            }
            &:hover {
              //background-color: #ec689e;
            }
          }
          .add-fav-button {
            width: 133px;
            height: 32px;
            border: 2px solid #ec689e;
            border-radius: 3px;
            font-size: 13px;
            color: white;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            float: left;
            svg {
              width: 8px;
              height: 13px;
              margin-right: 10px;
              fill: white;
            }
            &:hover {
              //background-color: #ec689e;
            }
          }
        }
        .single-button {
          display: inline-block;
          width: 100%;
          a {
            width: 183px;
            height: 42px;
            border: 2px solid #ec689e;
            border-radius: 3px;
            font-size: 12px;
            font-weight: 700;
            color: white;
            background-color: #ec689e;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            svg {
              width: 15px;
              height: 12px;
              fill: white;
              margin-left: 10px;
            }
            &:hover {
              //background-color: transparent;
            }
          }
        }
      }
    }
  }

}

.features-secion {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 70px;
  .features-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    .features-item {
      text-align: center;
      strong {
        font-size: 15px;
        font-weight: 700;
        color: #ed74a5;
        margin-bottom: 10px;
        display: block;
      }
      span {
        font-size: 15px;
        font-weight: 600;
        color: #464e65;
        display: block;
      }
    }
    hr {
      border: 0px;
      width: 1px;
      height: 80px;
      background-color: #d0d3e0;
      margin-left: 80px;
      margin-right: 80px;
    }
  }
}
.features-detail-section {
  margin-top: 70px;
  .row:first-child {
    border-bottom: 1px solid #dee2e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .features-detail-item {

    .js-quick-wrp {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 15px;
      font-weight: 700;
      color: #464e65;
      margin: 0px;
      margin-bottom: 0;
    }
    p {
      font-size: 15px;
      color: #a9afc2;
      margin-bottom: 0;
    }
  }
}
.contact-section {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #fafafa;
  .google-map {
    width: 100%;
    height: 337px;
  }
  .contact-detail {
    h3 {
      font-size: 30px;
      font-weight: 800;
      color: #ec689e;
      margin: 0px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .contact-detail-item {
      margin-bottom: 40px;
      min-height: 100px;
      h4 {
        font-size: 15px;
        font-weight: 700;
        color: #ec689e;
        margin: 0px;
        margin-bottom: 10px;
      }
      span {
        font-size: 14px;
        color: #464e65;
        strong {
          font-weight: 700;
        }
        &.phone {
          font-size: 18px;
        }
      }
    }
  }
}
.comments-section {
  .title {
    text-align: center;
    h3 {
      font-size: 30px;
      font-weight: 800;
      color: #ec689e;
    }
    span {
      font-size: 14px;
      font-weight: 600;
      color: #a9afc2;
    }
  }

  h4 {
    font-weight: 500;
    color: #a9afc2;
    margin-top: 30px;
    text-align: center;
  }

  .comment-list {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 60px;
    li {
      display: inline-block;
      width: calc(100% - 240px);
      margin-left: 90px;
      margin-right: 90px;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #d0d3e0;
      &:last-child {
        border: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      .profil-area {
        display: inline-block;
        float: left;
        width: 130px;
        margin-right: 40px;
        text-align: center;
        figure {
          display: table;
          background-color: #ec689e;
          width: 70px;
          height: 70px;
          border: 6px solid white;
          box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          span {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            color: white;
            font-weight: bold;
          }
          img {
            width: 100%;
          }
        }
        strong {
          display: block;
          font-size: 16px;
          font-weight: 600;
          color: #464e65;
          margin-top: 15px;
          margin-bottom: 10px;
        }
        span {
          font-size: 14px;
          font-weight: 600;
          color: #d0d3e0;
        }
      }
      .comment-area {
        display: inline-block;
        float: left;
        width: calc(100% - 170px);
        padding-top: 13px;
        strong {
          font-size: 18px;
          font-weight: bold;
          color: #464e65;
        }
        p {
          margin-top: 10px;
          font-size: 14px;
          color: #464e65;
          line-height: 25px;
          font-weight: 500;
          opacity: 0.8;

        }
        .like-button {
          font-size: 12px;
          color: #d0d3e0;
          display: inline-flex;
          align-items: center;
          font-weight: 600;
          //margin-top: 10px;
          &:hover {
            color: #464e65;
            svg {
              fill: #464e65;
            }

          }
          svg {
            width: 21px;
            height: 20px;
            fill: #d0d3e0;
            float: left;
            margin-right: 11px;
            position: relative;
            top: -2px;
          }
          span {
            float: left;
            margin-left: 10px;
            line-height: 23px;
          }
        }
      }
    }
  }
  .buttons {
    text-align: center;
    margin-bottom: 70px;
    .add-comment {
      width: 134px;
      height: 40px;
      border: 2px solid #ec689e;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
      color: #464e65;
      margin: auto;
      margin-bottom: 20px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        color: white;
        background-color: #ec689e;
      }

      .fa {
        position: relative;
        top: -1px;
        margin-right: 10px;
      }
    }

    &.no-comment {
      .add-comment {
        min-width: 250px;
        min-height: 70px;
        border: 2px solid #ec689e;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 700;
        color: #464e65;
        margin: auto;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: white;
          background-color: #ec689e;
        }
      }

    }



    .view-comment {
      font-size: 14px;
      color: #ec689e;
      font-weight: 700;
      &:hover {
        color: #464e65;
      }
    }
  }
}

.detail-section {

  .row {
    margin: 0;
  }

  .container {
    max-width: 100%;
  }

  .workshop-detail {
    h3 {
      font-size: 18px;
      font-weight: 800;
      color: #ec689e;
      margin: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 15px;
      border-bottom: 2px solid #ec689e;
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .tags {
      display: inline-block;
      width: 100%;
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        a {
          font-size: 14px;
          font-weight: 600;
          color: #d0d3e0;
          &:hover {
            color: #464e65;
          }
        }
      }
    }
    p {
      font-size: 13px;
      color: #a9afc2;
    }
  }
  .workshop-slider-container {
    position: relative;
    margin-top: -290px;
    .workshop-slider {
      .slick-list {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        z-index: 999;
        box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
      }
      .workshop-slider-item {
        display: inline-block;
        float: left;
        height: 435px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          position: relative;
          //top: 50%;
          //transform: translateY(-50%);
          height: 100%;
          object-fit: cover;
        }
      }
      .slick-prev, .slick-next {
        font-size: 0px;
        position: absolute;
        border: 0;
        box-shadow: -1px 4px 13px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        z-index: 1400;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
      }
      .slick-prev:before, .slick-next:before {
        position: relative;
        font-family: FontAwesome;
        font-size: 11px;
        color: #a9afc2;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }
      .slick-prev {
        left: -20px;
        &:before {
          content: "\f053";
          font-size: 20px;
          position: relative;
          top: 1px;
          right: 2px;
        }
      }
      .slick-next {
        right: -20px;
        &:before {
          content: "\f054";
          font-size: 20px;
          position: relative;
          top: 1px;
          left: 3px;
        }
      }

      .slick-prev:hover, .slick-next:hover {
        color: #464e65;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
      }
      .slick-prev:hover:before, .slick-next:hover:before {
        color: #464e65;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }
    }
    .workshop-slider-thumb .workshop-slider-thumb-item {
      cursor: pointer;
      position: relative;
      display: inline-block;
      float: left;
      overflow: hidden;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 30px;
      -webkit-transition-duration: .5s;
      -moz-transition-duration: .5s;
      -o-transition-duration: .5s;
      transition-duration: .5s;
      box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #3b4350;
        opacity: .7;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }

      .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(70, 78, 101, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .play-thumb {
          font-size: 25px;
          color: #ffffff;
        }
      }

      &.slick-current {
        transform: scale(1.2);
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        &:after {
          opacity: 0;
          -webkit-transition-duration: .5s;
          -moz-transition-duration: .5s;
          -o-transition-duration: .5s;
          transition-duration: .5s;
        }
      }
      &:hover:after {
        opacity: 0;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .all-photos-button {
      position: absolute;
      width: 98px;
      height: 65px;
      background-color: white;
      border-radius: 4px;
      z-index: 999;
      box-shadow: 0px 14px 29px rgba(29, 36, 51, 0.2);
      text-align: center;
      font-size: 13px;
      color: #abafc2;
      font-weight: 600;
      right: 0;
      bottom: -90px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      &:hover {
        color: #ec689e;
      }
    }
  }
}

.mce-content-body {

  p {
    color: #464e65;
  }

}

.mce-content-body *[data-mce-selected="inline-boundary"] {
  background: #545b65;
}

.blog-popup {
  display: block;
  position: fixed;
  background: white;
  width: 95%;
  max-width: 600px;
  z-index: 334;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .5s;

  &.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }


  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(33, 33, 33, 0.75);
    z-index: 333;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .5s;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

  }

  &__inner {
    display: block;
    padding: 30px 15px;
  }

  &__header {
    padding: 25px 15px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
  }

  &__title {
    display: block;
    font-size: 24px;
    color: #ec689e;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  &__close {
    display: inline-flex;
    position: absolute;
    color: #4d4d4d;
    font-size: 22px;
    opacity: 0.3;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;

    &:hover {
      opacity: 1;
      color: #4d4d4d;
    }

  }

  .input-group {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  &__submit {
    background-color: #ec689e;
    color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(236,104,158,0.2);
    border: none;
    border-radius: 5px;
    height: 47px;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    display: block;
    transition: all .5s;

    &:hover {
      color: #fff;
      background-color: #464e65;
      box-shadow: 0 10px 30px 0 rgba(70,78,101,0.22);
    }

  }


}




.form-input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d0d3e0;
  height: 48px;
  padding: 10px 20px;
  color: #464e65;
}

.blog-campaign {
  background: #ec689e;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(169, 175, 194, 0.49);
  max-width: 500px;
  margin: auto;

  > *:last-child {
    margin-top: 15px;
  }

  > *:first-child {
    margin-top: 0px;
  }

  &__title {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__btn {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: table;
    margin: 0 auto;
  }

}

.workshop-link {
  background-color: #ec689e;
  color: #fff;
  display: inline-block;
  padding: 15px 35px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 10px 30px 0 rgba(236,104,158,0.2);
  font-size: 24px;
  font-weight: 700;


  &:hover {
    color: #fff;
    background-color: #464e65;
    box-shadow: 0 10px 30px 0 rgba(70,78,101,0.22);
  }


}

.section-disabled {
  opacity: .5!important;
  cursor: not-allowed!important;
}



//.editor-toggle {
//  margin-bottom: 10px;
//  padding: 10px;
//  display: inline-flex;
//  align-items: center;
//  font-size: 21px;
//
//  &__btn {
//    display: block;
//    font-weight: 600;
//    color: #283238;
//    opacity: .75;
//
//    &.active {
//      color: #eb679e;
//      opacity: 1;
//    }
//
//  }
//
//  .dot {
//    display: block;
//    width: 65px;
//    height: 30px;
//    background: #273238;
//    margin: 0 20px;
//    position: relative;
//    border-radius: 50px;
//
//    &:after {
//      content: '';
//      position: absolute;
//      left: 5px;
//      top: 50%;
//      width: 20px;
//      height: 20px;
//      background: rebeccapurple;
//      border-radius: 50%;
//      transform: translateY(-50%);
//      transition: all .5s;
//    }
//
//  }
//
//  &.list {
//    .dot:after {
//      left: 5px;
//    }
//
//
//  }
//
//  &.online {
//    .dot:after {
//      left: 40px;
//    }
//
//  }
//
//
//}

.editor-toggle {
  margin-bottom: 30px;
  align-items: center;
  display: inline-flex;
  font-size: 24px;
}

.editor-toggle-switch {
  background: #eb679e;
  width: 65px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  border-radius: 50px;
  position: relative;
  transition: all .5s;

  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-top: 0;
    border-bottom: 0;
    left: 5px;
    position: absolute;
    transition: all .3s ease-in-out;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .active & {
    background: #05c46b;
    &:after {
      left: 40px;
    }
  }
}

.editor-toggle-label {
  display: inline-block;
  line-height: 30px;
  font-weight: 600;
  color: #283238;
  opacity: .75;
  transition: all .5s;
  cursor: pointer;
}

.editor-toggle-label-off {
  color: #eb679e;
  opacity: 1;
}

.editor-toggle.active {

  .editor-toggle-label-off {
    opacity: .75;
    color: #283238;
  }

  .editor-toggle-label-on {
    color: #05c46b;
    opacity: 1;
  }
}

.editor-tab {
  display: none;

  &.active {
    display: block;
  }

}



/* media queries */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .panel-header .middle-nav .row-inner {
    padding: 0;
  }

  .panel-header .middle-nav .call-section {
    border: none;
  }

  .panel-header .middle-nav .call-section-inner {
    text-align: right;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
  }

  .panel-header .middle-nav .call-section .text {
    margin-left: 0;
    order: -1;
    margin-right: 10px;
  }

  header .middle-nav-container {
    margin: 0;
    padding: 0 15px;
  }

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 480px) {

}















